.portfolio {
  background-color: #202020;
  padding-top: 113px;
}

.infomation__photo {
  max-width: 295px;
  margin-bottom: 36px;
}

.portfolio__link:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.information__mame {
  margin-top: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}

.information__about {
  margin-bottom: 20px;
}

.information__story {
  margin-bottom: 37px;
}

.portfolio__link {
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 100px;
}

.portfolio__text {
  margin-top: 70px;
  margin-bottom: 40px;
  color: #a0a0a0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.linkbar {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 70px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkbar__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px;
}

.linkbar__link:last-child {
  border: none;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.link__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.72px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  border: none;
}

.link__iqon {
  width: 12px;
  height: 12px;
}

.link:hover {
  opacity: 0.7;
  transform: 0.3s;
}

.linkbar__line {
  margin-bottom: 20px;
}

@media screen and (min-width: 760px) {
  .portfolio {
    padding-top: 70px;
  }

  .information {
    margin-top: 65px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin-bottom: 0;
  }

  .infomation__photo {
    width: 255px;
  }

  .information__mame {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 15px;
  }

  .information__story {
    margin-bottom: 90px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 20px;
    margin-top: 52px;
    margin-bottom: 50px;
  }

  .linkbar {
    gap: 21px;
  }

  .link__name {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }

  .link__iqon {
    width: 17px;
    height: 17px;
  }

  .linkbar__link{
    padding-bottom: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .information__mame {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    margin-bottom: 0;
  }

  .information {
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .information__about {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .infomation__photo {
    width: 270px;
  }

  .information__story {
    max-width: 600px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .information__text {
    display: flex;
    flex-direction: column;
  }

  .portfolio__link {
    margin-bottom: 50px;
  }

  .link__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
  }

  .link__iqon {
    width: 17px;
    height: 17px;
  }
}
